src/wsdl/localhost_8080/tienda_WS/ServicioTienda.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><xs:schema xmlns:tns="http://tienda_ws.almerimatik.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tienda_ws.almerimatik.es/">

<xs:element name="cargarPedidos" type="tns:cargarPedidos" />

<xs:element name="cargarPedidosResponse" type="tns:cargarPedidosResponse" />

<xs:element name="finalizarPedido" type="tns:finalizarPedido" />

<xs:element name="finalizarPedidoResponse" type="tns:finalizarPedidoResponse" />

<xs:element name="getFoto" type="tns:getFoto" />

<xs:element name="getFotoResponse" type="tns:getFotoResponse" />

<xs:element name="loginAdmin" type="tns:loginAdmin" />

<xs:element name="loginAdminResponse" type="tns:loginAdminResponse" />

<xs:complexType name="finalizarPedido">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="idPedido" type="xs:long" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="finalizarPedidoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="cargarPedidos">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargarPedidosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFoto">
<xs:sequence>
<xs:element name="ruta" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFotoResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginAdmin">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>