src/wsdl/localhost_8080/tienda_WS/ServicioTienda.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tienda_ws.almerimatik.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tienda_ws.almerimatik.es/" name="ServicioTienda">
<types>
<xsd:schema>
<xsd:import namespace="http://tienda_ws.almerimatik.es/" schemaLocation="http://localhost:8080/tienda_WS/ServicioTienda?xsd=1" />
</xsd:schema>
</types>
<message name="getFoto">
<part name="parameters" element="tns:getFoto" />
</message>
<message name="getFotoResponse">
<part name="parameters" element="tns:getFotoResponse" />
</message>
<message name="cargarPedidos">
<part name="parameters" element="tns:cargarPedidos" />
</message>
<message name="cargarPedidosResponse">
<part name="parameters" element="tns:cargarPedidosResponse" />
</message>
<message name="finalizarPedido">
<part name="parameters" element="tns:finalizarPedido" />
</message>
<message name="finalizarPedidoResponse">
<part name="parameters" element="tns:finalizarPedidoResponse" />
</message>
<message name="loginAdmin">
<part name="parameters" element="tns:loginAdmin" />
</message>
<message name="loginAdminResponse">
<part name="parameters" element="tns:loginAdminResponse" />
</message>
<portType name="ServicioTienda">
<operation name="getFoto">
<input message="tns:getFoto" />
<output message="tns:getFotoResponse" />
</operation>
<operation name="cargarPedidos">
<input message="tns:cargarPedidos" />
<output message="tns:cargarPedidosResponse" />
</operation>
<operation name="finalizarPedido">
<input message="tns:finalizarPedido" />
<output message="tns:finalizarPedidoResponse" />
</operation>
<operation name="loginAdmin">
<input message="tns:loginAdmin" />
<output message="tns:loginAdminResponse" />
</operation>
</portType>
<binding name="ServicioTiendaPortBinding" type="tns:ServicioTienda">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getFoto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cargarPedidos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="finalizarPedido">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="loginAdmin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServicioTienda">
<port name="ServicioTiendaPort" binding="tns:ServicioTiendaPortBinding">
<soap:address location="http://localhost:8080/tienda_WS/ServicioTienda" />
</port>
</service>
</definitions>